 *{
            margin:0;
            padding: 0;
            box-sizing: border-box;
        }
        .container{
            height: 100vh;
            width: 100%;
           
        }
        .div1 h1,h3{
            text-align: center;
        }
        .div1 span{
            color:orange;
        }
         .cards{
            display: flex;
              gap: 20px;
             margin-top: 3px;
              margin-left: 100px;
              flex-wrap: wrap;
              
         }
         .card1{
            height: 250px;
            /* height: max-content; */
            width: 200px;
            border: 2px solid orange;
            border-radius: 5px;
        box-shadow: 0px 0px 10px orange;
         }
         .card1 img{
            height: 100px;
            width: 100px;
            margin-top: 20px;
            margin-left: 45px;
         }
         .card1 h3{
            color:orange;
         }
         .card1 button{
            height: 30px;
            width: 150px;
            border-radius: 12px;
            border:1px solid orange;
            color: white;
            background-color: orange;
            margin-left: 20px;
         }
         .cards1{
          display: flex;
              gap: 20px;
              margin-top: 20px;
              margin-left: 100px;
              flex-wrap: wrap;
         }
         /* media */
     
@media screen and (max-width: 320px) {
    .div1 h1 {
        font-size: 20px;
        padding: 5px;
    }
    .div1 h3 {
        font-size: 14px;
        padding: 3px;
    }
    .cards, .cards1 {
        flex-direction: column;
        margin-left: 0;
        align-items: center;
        gap: 15px;
    }
    .card1 {
        width: 90%;   
        max-width: 250px;
        margin: 0 auto;
    }
    .card1 h1 {
        font-size: 18px;
        text-align: center;
    }
    .card1 h3 {
        font-size: 16px;
        text-align: center;
    }
    .card1 img {
        height: 80px;
        width: 80px;
        margin: 10px auto;
        display: block;
    }
    .card1 button {
        width: 80%;
        margin: 10px auto;
        display: block;
    }
}